button {
  font-family: 'Roboto', sans-serif;
  font-size: 2.5rem;
  width: 25%;
  height: 20%;
  min-height: 15vh;
  min-width: 25%;
}

#cero {
  width: 50%;
  min-width: 560px;
}

.calculatordiv {
  min-height: 90vh;
  width: 100%;
  background-color: blue;
}

.calculatorrow {
  min-height: 15vh;
  min-width: 25%;
}

.calcresult {
  width: 100%;
  height: 15vh;
  background-color: dimgray;
  color: #fff;
  text-align: right;
  font-size: 4rem;
}

.orangebtn {
  background-color: rgb(255, 166, 0);
}
