@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.navbar {
    background-color: blueviolet;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
}

.navbar-elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.navbar-element {
  padding-left: 10px;
  font-family: 'Roboto', Times, serif;
  font-size: 1.5rem;
}