@import url(./Components/css/Calculator.css);

body {
  background-image: url("./img/App.background.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

